@mixin border-radius($wert) {
    border-radius: $wert;
    -moz-border-radius: $wert;
    -webkit-border-radius: $wert;
    -ms-border-radius: $wert;
    -o-border-radius: $wert;
}

@mixin rotate($winkel) {
    -webkit-transform: rotate($winkel);
    -moz-transform: rotate($winkel);
    -ms-transform: rotate($winkel);
    -o-transform: rotate($winkel);
    transform: rotate($winkel);
}
