<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Viet Dung Tran">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="">
    <title></title>
</head>

<body>
    <div class="container">
        Các bước thêm bootstrap vào:
        <ul>
            <li class="text-danger">Thêm vào file: style.scss
                <span>@import "~bootstrap/scss/bootstrap";</span>
            </li>
            <li> Thêm vào file entry
                <span>import 'bootstrap';</span>
            </li>
            <li> Cài đặt các dependencies </li>

        </ul>
    </div>
</body>

</html>